@import "../../sass/mixins.scss";
@import "../../sass/colors.scss";

.searchBox {
    border-radius: 0.313rem 0 0 0.313rem;
    display: flex;
    align-items: center;
    position: relative;

    .container {
        overflow: hidden;
        position: absolute;
        right: 100%;
        margin-right: 0.188rem;
        border-radius: 0.75rem;

        @include bp(tablet) {
            top: 250%;
            right: 0;
            width: calc(100vw - 1.25rem - 0.875rem);
        }

        input {
            transition: all 0.5s ease-in-out;
            border: none;
            outline: none;
            background: $search-input-bg;
            border-radius: 0.75rem;
            padding: 0.375rem;

            @include bp(tablet) {
                width: 100%;
            }
        }
    }

    .searchButton {
        @include normalizeBtn();
    }
}