@import "../../../sass/colors.scss";
@import "../../../sass/mixins.scss";

.navigationMenu {
    display: flex;
    justify-content: center;

    .sections {
        display: flex;
        gap: 2rem;

        & button {
            display: flex;
            align-items: center;
            gap: 0.313rem;
            position: relative;
            padding: 1.375rem 0;
            @include textStandard();
            @include normalizeBtn();

            &:hover>.tooltip {
                display: flex;
                position: absolute;
                top: 100%;
                left: 0;
            }

            .tooltip {
                display: none;
                min-width: 10.938rem;
                flex-direction: column;
                padding: 1.25rem 0.938rem;
                border: 1px solid $main-gray;
                background: white;

                .nestedButton {
                    padding: 0.625rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid $main-gray;

                    p {
                        font-size: 0.813rem;
                        font-weight: 400;
                        line-height: 0.813rem;
                        transition: all 0.3s ease-in-out;
                    }


                    &:hover p {
                        transform: translateX(10px);
                        color: $hovered-gray;
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }

                    .chevron {
                        transform: rotate(-90deg)
                    }
                }
            }
        }
    }
}